<%# This is a partial for an individual comment %>
<div class="comment mt-5">
  <div class="mb-2">
    <strong><%= comment.user.email %></strong>
    <span class="text-gray-600"><%= comment.created_at.strftime("%m-%d-%Y") %></span>
  </div>
  <p><%= comment.content %></p>
</div>
