<% if notice.present? %>
  <p class="py-2 px-3 bg-green-500 text-white font-medium rounded-lg mb-5 text-center" id="notice"><%= notice %></p>
<% end %>

<div class="mx-auto md:w-2/3 w-full p-6 bg-gray-200 rounded-lg shadow-md">
  <header class="text-center mb-4">
    <h2 class="font-bold text-4xl">New restaurant</h1>
  </header>

  <%= render "form", restaurant: @restaurant %>

  <%= link_to "Back to restaurants", restaurants_path, class: "ml-2 rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium hover:bg-blue-700" %>
</div>
