<div class="mx-auto md:w-2/3 w-full p-6 bg-gray-200 rounded-lg shadow-md">
  
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-500 text-white font-medium rounded-lg mb-5 text-center" id="notice"><%= notice %></p>
  <% end %>

<!-- <div class="mx-auto md:w-2/3 w-full p-6 bg-gray-200 rounded-lg shadow-md"> -->
  <section class="project-description">
    <h2 class="text-center font-bold text-3xl mb-4">Show Restaurant Details</h2>
  </section>

  <%= render @restaurant %>

  <div class="text-center mt-4">
    <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium hover:bg-blue-700" %>
    
    <%= link_to "Back to restaurants", restaurants_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium hover:bg-blue-700 ml-2" %>
  </div>
</div>

